/*====================================
=               Form                 =
====================================*/
.form__section {
  border: 1px dashed #ccc;
  padding: 20px; }
.form__title {
  font-weight: 300; }
.form__input {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block; }
  @media screen and (min-width: 568px) {
    .form__input {
      width: auto;
      margin: 0 20px 0 0; } }
