/*=========================================
=            Typography styles            =
=========================================*/

html {
    font-size: 75%;

    @media screen and (min-width: $small-view) {
        font-size: 100%;
    }
}

body {
    color: $color-text;
    font-family: 'Open Sans', sans-serif;
}

/*==========  Headers  ==========*/

h1,
h2,
h3,
h4 {
    font-weight: 700;
    margin: 0;
    margin-bottom: .5em;
    text-rendering: optimizeLegibility;
}
